//== Colors
//

@brand-primary: #3388FF;
@brand-red: #D9534F;
@brand-green: #5CB85C;
@brand-blue: #3388FF;
@brand-orange: #FFBB33;

@gray-base: #000000;
@gray-darker: #222222;
@gray-dark: #333333;
@gray: #4D4D4D;
@gray-light: #949494;
@gray-lighter: #F2F2F2;

@brand-success: @brand-green;
@brand-info: @brand-blue;
@brand-warning: @brand-orange;
@brand-danger: @brand-red;
