doctype html
html

	head

		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1")

		base(href="/")

		title ng-seed

		link(rel="icon", type="image/x-icon", href="favicon.ico")
		link(rel="stylesheet", type="text/css", href="assets/styles/loading.css")

		style(type="text/css").

			/* These styles should only be used for styles that are ABSOLUTELY required for the page before the app loads. */

			body app-root .app-root-loading {

			}

body
	app-root
		.app-root-loading Loading...

